.sec-2 h2{
    font-size: 38px;
    font-weight: lighter;
    margin-bottom: 10px;

}
.sec-2 div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.sec-2 h6{
    margin: 0px;
    font-size: 17px;
    font-weight: lighter;
    rgb(99,98,98);
}