.a{
    border: 5px solid red;
    width: 300px;
    float: left;
    margin: 5px;
    padding: 1px;
    text-align: justify;
    box-sizing: border-box;
    
}
.b{
    border: 5px solid red;
    background-color: black;
    color: blanchedalmond;
    float: left;
    margin: 5px;
    padding: 1px;
    text-align: justify;
    box-sizing: border-box;
}